:host {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 100%;
  height: 100%;
  align-items: self-start;
  [table-wrapper] {
    overflow-x: auto;
  }

  [title] {
    font-size: 1.5rem;
    font-variant: small-caps;
    text-transform: lowercase;
    font-family: Bebas Neue;
  }

  [header] {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 0.5rem 0;
  }
  @media screen and (max-width: 960px) {
    padding: 0;
  }
}
