<div header>
    <mat-slide-toggle
        [checked]="storage.hide_expired"
        (change)="onHideExpired($event)"
    >
        Hide Expired
    </mat-slide-toggle>
    <span class="spacer"></span>
    <button
        mat-button
        button-with-icon
        aria-label="Export liste to XLSX"
        (click)="onExport()"
        [disabled]="exportDisabled"
    >
        <app-simple-icon [icon]="excelIcon"></app-simple-icon>
        <span>Export</span>
    </button>
</div>
<mat-table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    matSort
>
    class="mat-elevation-z8">
    <ng-container matColumnDef="company">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Company"
        >
            Company
        </mat-header-cell>
        <mat-cell
            *matCellDef="let element"
            (click)="onClickCompany($event, element)"
            data-label="company"
            matTooltip="Open Company Website"
        >
            <app-jobcompany
                [truncate]="true"
                [company]="element.company"
            ></app-jobcompany>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="position">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Position"
        >
            Position
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Position">
            <app-jobposition
                [truncate]="true"
                [position]="element.position"
            ></app-jobposition>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="location">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Location"
        >
            Location
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Location">
            <app-joblocation
                [truncate]="true"
                [location]="element.location"
            ></app-joblocation>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="applied">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by applied"
        >
            Applied
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Applied">
            <span matTooltip="{{element.applied.timestamp|amDateFormat:'LLL'}}">{{element.applied.timestamp|amTimeAgo}}</span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="last_modified">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Last action"
        >
            Last
      Action
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Last Action">
            <span matTooltip="{{element.last_modified|amDateFormat:'LLL'}}">{{element.last_modified|amTimeAgo}}</span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            sortActionDescription="Sort by Status"
        >
            Status
        </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Status">
            <app-jobstatus
                [truncate]="true"
                [status]="element.status"
            ></app-jobstatus>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="onClick($event, row)"
        [attr.status]="row.status"
    ></mat-row>
</mat-table>
<mat-paginator
    pageSize="20"
    showFirstLastButtons
    [hidePageSize]="true"
    aria-label="Select page"
>
</mat-paginator>
