:host {
  display: flex;
  flex-direction: column;
  column-gap: 0.3rem;
  align-items: center;
  > div {
    display: flex;
    flex-direction: row;
    column-gap: 0.3rem;
    align-items: center;
    justify-content: center;
    [name]:hover {
      cursor: pointer;
    }
  }
}
