@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-theme($theme) {
  app-jobdetails {
    border: none;
    display: grid;
    align-items: center;
    row-gap: 0;
    grid-template-columns: max-content 1fr;
    background-color:mat.get-theme-color($theme, neutral);
    [label] {
      font-variant: small-caps;
      text-transform: uppercase;
      justify-content: end;
      align-items: center;
      opacity: 0.6;
      font-size: 90%;
      padding: 0.7rem;
      align-self: flex-start;
    }
    [content] {
      border-bottom: 1px solid
        darken(mat.get-theme-color($theme, neutral), 10%);
      font-weight: 400;
      padding: 0.7rem;
      height: 100%;
      background-color: mat.get-theme-color($theme, surtface-dim);
    }
    @media screen and (max-width: 960px) {
      width: 100%;
      display: block;
      padding: 0.3rem;
      [label] {
        justify-content: start;
      }
      [content] {
        height: auto;
        font-weight: bold;
      }
    }
  }
}
