@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-details-theme($theme, $background-palette) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $warn: map.get($color-config, warn);
  app-jobdetails {
    border: none;
    display: grid;
    align-items: center;
    row-gap: 0;
    grid-template-columns: max-content 1fr;
    background-color: darken(mat.get-color-from-palette($background-palette, card), 10%);

    [label] {
      font-variant: small-caps;
      text-transform: uppercase;
      text-align: right;
      justify-content: end;
      padding: 0.7rem;
    }
    [content] {
      font-weight: 400;
      padding: 0.7rem;
      background-color: mat.get-color-from-palette($background-palette, card);
    }
    @media screen and (max-width: 960px) {
      width: 100%;
      grid-template-columns: 1fr;
      padding: 0.3rem;
      [label] {
        text-align: left;
        justify-content: start;
      }
    }
  }
}
