@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-errors-theme($theme, $background-palette) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $warn: map.get($color-config, warn);
  [errors] {
    color: mat.get-color-from-palette($warn);

    @media screen and (max-width: 960px) {
    }
  }
}
