@mixin apply-theme($theme) {
  app-job {
    display: flex;
    flex-direction: column;
    padding: 3em;
    height: 100%;
    align-items: center;
    app-jobposition {
      text-transform: uppercase;
      padding: 1rem;
      &:hover {
        cursor: pointer;
      }
    }
    @media screen and (max-width: 960px) {
      padding: 1rem 0;
    }
    app-jobposition {
      font-size: 1.5rem;
      font-weight: bold;
      app-simple-icon {
        height: 3rem !important;
      }
    }

  }
}
