@mixin apply-theme($theme) {
  app-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    flex-grow: 1;
    padding-bottom: 10vh;

    p {
      text-align: center;
    }

    mat-card.mdc-card {
      border-radius: 1rem;

      mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        row-gap: 1rem;

        app-logo {
          width: 20vw;
          height: auto;
          align-self: center;
          justify-self: center;
          padding: 1rem;
        }
      }

      form {
        display: flex;
        flex-direction: column;

        mat-button-toggle-group {
          margin-bottom: 1rem;
        }
      }

      [buttons] {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        button {
          width: 15rem;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
