@mixin apply-theme($theme) {
  app-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 20vh 1em;
    flex-grow: 1;

    p {
      text-align: center;
    }

    row-gap: 1rem;

    app-logo {
      width: 15rem;
      height: auto;
      align-self: center;
      justify-self: center;
      padding: 1rem;
    }

    [buttons] {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      justify-content: center;
      align-items: center;
      button {
        width: 15rem;
        display: flex;
        align-items: center;
      }
    }
  }
}
