ng-icon {
  height: 24px;
  width: 24px;
  user-select: none;
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  align-self: center;
}
.mdc-button__label {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-variant: small-caps;
}
