@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin";
@mixin apply-theme($theme) {
  mat-table {
    // display: none;
    // font-size: 120%;
    border-radius: 1rem;

    mat-header-row {
      // flex-wrap: wrap;
      border-radius: 1rem;

      mat-header-cell {
        background: var(--mat-sys-surface);

        &:first-of-type {
          border-top-left-radius: 1rem;
        }
        &:last-of-type {
          border-top-right-radius: 1rem;
        }
      }
    }

    .mat-column-position {
      flex: 2;
    }

    .mat-column-company {
      flex: 2;
    }

    // .mat-column-status {
    //   flex: 0 0 150px;
    // }

    // .mat-column-last_modified {
    //   flex: 0 0 150px;
    // }

    // .mat-column-applied {
    //   flex: 0 0 150px;
    // }
    // .mat-column-location {
    //   flex: 0 0 10rem;
    // }

    mat-row {
      flex-wrap: wrap;

      mat-cell {
        app-simple-icon {
          height: 24px;
        }

        mat-icon {
          font-size: 1em;
          line-height: 28px;
        }
      }
    }

    mat-row:hover mat-cell {
      background-color: var(--mat-sys-surface-variant);
      cursor: pointer;
    }
  }

  [table-grid] {
    border: none;
    display: none;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;
    background-color: mat.get-theme-color($theme, tertiary, 80);
    border-bottom: 1rem solid mat.get-theme-color($theme, tertiary, 80);

    &:first-of-type {
      border-top: 0;
    }

    [label] {
      font-variant: small-caps;
      text-transform: uppercase;
      text-align: right;
      font-weight: 100;
    }

    [content] {
      background-color: mat.get-theme-color($theme, tertiary, 80);
      padding: 0.5rem;
      font-weight: 400;
    }
  }

  @each $event, $color in mixin.status-colors($theme) {
    mat-table {
      mat-row {
        &[status="#{$event}"] {
          background-color: $color;
        }
      }
    }
    [table-grid] {
      &[status="#{$event}"] {
        background-color: $color;

        [content] {
          background-color: $color;
        }
      }
    }
  }

  @include mat.table-overrides(
    (
      header-headline-font: var(--mat-sys-title-large-font),
      header-headline-size: var(--mat-sys-title-medium-size),
    )
  );
}
