@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin";

@mixin apply-table-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background-palette: map-get(
    $map: $color-config,
    $key: background,
  );

  mat-table {
    display: none;
    font-size: 120%;
    border-radius: 1rem;

    mat-header-row {
      flex-wrap: wrap;
      border-radius: 1rem;

      mat-header-cell {
        font-variant: small-caps;
        text-transform: uppercase;
        font-weight: bold !important;
        background: darken(
          mat.get-color-from-palette($background-palette, card),
          10%
        ) !important;

        &:first-of-type {
          border-top-left-radius: 1rem;
        }
        &:last-of-type {
          border-top-right-radius: 1rem;
        }
      }
    }

    mat-row {
      flex-wrap: wrap;

      mat-cell {
        app-simple-icon {
          height: 24px;
        }

        mat-icon {
          font-size: 1em;
          line-height: 28px;
        }
      }

      // &:last-of-type {
      //   border-radius: 1rem;
      //   mat-cell {
      //     &:first-of-type {
      //       border-bottom-left-radius: 1rem;
      //     }
      //     &:last-of-type {
      //       border-bottom-right-radius: 1rem;
      //     }
      //   }
      // }
    }

    mat-row:hover mat-cell {
      background-color: mat.get-color-from-palette($palette);
      cursor: pointer;
    }
  }

  [table-grid] {
    border: none;
    display: none;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;
    background-color: darken(
      mat.get-color-from-palette($background-palette, card),
      10%
    );
    border-bottom: 1rem solid
      mat.get-color-from-palette($background-palette, app-bar);

    &:first-of-type {
      border-top: 0;
    }

    [label] {
      font-variant: small-caps;
      text-transform: uppercase;
      text-align: right;
      font-weight: 100;
    }

    [content] {
      background-color: mat.get-color-from-palette($background-palette, card);
      padding: 0.5rem;
      font-weight: 400;
    }
  }

  @each $event, $color in mixin.status-colors($theme) {
    mat-table {
      mat-row {
        &[status="#{$event}"] {
          background-color: $color;
        }
      }
    }
    [table-grid] {
      &[status="#{$event}"] {
        background-color: $color;

        [content] {
          background-color: $color;
        }
      }
    }
  }

  @media screen and (max-width: 960px) {
    mat-table {
      border: 0;
      vertical-align: middle;
      border-radius: 0;

      mat-header-row {
        display: none;

        mat-header-cell  {

          &:first-of-type {
            border-top-left-radius: 0;
          }
          &:last-of-type {
            border-top-right-radius: 0;
          }
        }

      }

      mat-row {
        border-bottom: 5px solid darken(
          mat.get-color-from-palette($background-palette, card),
          10%
        ) !important;
        display: block;
      }

      mat-cell {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 1em;
        text-align: right;
        font-weight: bold;
        height: 30px;
        margin-bottom: 4%;

        &:before {

          content: attr(data-label);
          float: right;
          text-transform: uppercase;
          font-weight: normal;
    
          font-size: 0.85em;
        }

        &:last-child {
          border-bottom: 0 !important;
        }

        &:first-child {
          margin-top: 4%;
        }
      }

    }
  }
}
