@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-table-theme($theme, $background-palette) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $warn: map.get($color-config, warn);
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
  mat-table {
    display: none;
    font-size: 120%;
    mat-header-row {
      flex-wrap: wrap;
      mat-header-cell {
        font-variant: small-caps;
        text-transform: uppercase;
        font-weight: bold !important;
      }
    }

    mat-row {
      flex-wrap: wrap;

      &[status="rejected"] {
        opacity: 0.5;
        background-color: fade-out(mat.get-color-from-palette($warn), 0.9);
      }
    }

    mat-row:hover mat-cell {
      background-color: mat.get-color-from-palette($palette);
      cursor: pointer;
    }
  }

  [table-grid] {
    border: none;
    font-size: 120%;
    display: none;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    column-gap: 0.5rem;
    background-color: darken(mat.get-color-from-palette($background-palette, card), 10%);
    border-bottom: 1rem solid mat.get-color-from-palette($background-palette, app-bar);
    &:first-of-type {
      border-top: 0;
    }
    [label] {
      font-variant: small-caps;
      text-transform: uppercase;
      text-align: right;
    }
    [content] {
      background-color: mat.get-color-from-palette($background-palette, card);
      padding: 0.5rem;
      font-weight: 400;
    }
    &[status="rejected"] {
      background-color: fade-out(mat.get-color-from-palette($warn), 0.9);
      [content] {
        background-color: fade-out(mat.get-color-from-palette($warn), 0.9);
        opacity: 0.5;
      }
    }
  }
  @media screen and (max-width: 960px) {
    app-jobs [table-grid] {
      display: grid;
      user-select: none;
      [label] {
        font-size: 90%;
        opacity: 0.6;
      }
    }
    app-jobs mat-table {
      display: none;
    }
  }
}
