@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-timeline-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background-palette: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  app-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    .timeline {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 2px;
        height: 100%;
        background: mat.get-color-from-palette($foreground, base);
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          position: relative;
          width: 50%;
          padding: 20px 40px;
          box-sizing: border-box;
          &:nth-child(odd) {
            float: left;
            text-align: right;
            clear: both;
            &:before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 24px;
              right: -6px;
              background: mat.get-color-from-palette($palette);
              border-radius: 50%;
            }
          }
          &:nth-child(even) {
            float: right;
            text-align: left;
            &:before {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              top: 24px;
              left: -4px;
              background: mat.get-color-from-palette($palette);
              border-radius: 50%;
            }
          }
        }
      }
    }


    .content {
      padding-bottom: 20px;
    }

    .timeline ul li h3 {
      padding: 0;
      margin: 0;
      color: mat.get-color-from-palette($palette);
      font-weight: 600;
    }
    .timeline ul li p {
      margin: 10px 0 0;
      padding: 0;
    }
    .timeline ul li .time h4 {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
    .timeline ul li:nth-child(odd) .time {
      position: absolute;
      top: 12px;
      right: -165px;
      margin: 0;
      padding: 8px 16px;
      background: mat.get-color-from-palette($palette);
      color: mat.get-color-from-palette($foreground, text);
      border-radius: 18px;
    }
    .timeline ul li:nth-child(even) .time {
      position: absolute;
      top: 12px;
      left: -165px;
      margin: 0;
      padding: 8px 16px;
      background: mat.get-color-from-palette($palette);
      color: mat.get-color-from-palette($foreground, text);
      border-radius: 18px;
    }
    @media (max-width: 1000px) {
      .timeline {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      .timeline {
        width: 100%;
        padding-bottom: 0;
      }
      .timeline:before {
        left: 20px;
        height: 100%;
      }
      .timeline ul li:nth-child(odd),
      .timeline ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
      }
      .timeline ul li:nth-child(odd):before,
      .timeline ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
      }
      .timeline ul li:nth-child(odd) .time,
      .timeline ul li:nth-child(even) .time {
        top: -30px;
        left: 50px;
        right: inherit;
      }
    }
  }


  @media screen and (max-width: 960px) {
    app-jobs [table-grid] {
      display: grid;
    }
    app-jobs mat-table {
      display: none;
    }
  }
}
