@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin.scss";

@mixin apply-timeline-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $background-palette: map.get($color-config, background);
  $foreground: map.get($color-config, foreground);

  app-timeline {
    padding: 0 1rem;
    margin: 50px auto;
    .timeline {
      position: relative;
      padding-left: 4rem;
      margin: 0 0 0 30px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: mat.get-color-from-palette($background-palette, card);
      }

      .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;

        .timeline-icon {
          position: absolute;
          left: calc(-5.5rem + 2px);
          top: 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          text-align: center;
          font-size: 2rem;

          ng-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

        }

        .timeline-body {
          background: mat.get-color-from-palette($background-palette, card);
          border-radius: 1rem;
          padding: 20px 20px 15px;

          [description] {
            white-space: pre-wrap;
          }

          &:before {
            content: "";
            background: inherit;
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: -10px;
            transform: rotate(45deg);
            border-radius: 0 0 0 2px;
          }

          .timeline-title {
            margin-bottom: 1.4rem;

            .badge {
              padding: 0.5rem 2rem;
              border-radius: 1rem;
              font-weight: bold;
              text-transform: uppercase;
            }
          }

          .timeline-subtitle {
            font-style: italic;
            opacity: 0.4;
            margin-top: 16px;
          }
        }

        &.applied {
          .badge,
          .timeline-icon {
            background: mat.get-color-from-palette($palette);
          }
        }

        &.response {
          .badge,
          .timeline-icon {
            background: darken(mat.get-color-from-palette($accent), 10%);
          }
        }

        &.interview {
          .badge,
          .timeline-icon {
            background: mat.get-color-from-palette($accent);
          }
        }

        &.reject {
          .badge,
          .timeline-icon {
            background: mat.get-color-from-palette($warn);
          }
        }
      }
    }
  }
}
