@use "sass:map";
@use "@angular/material" as mat;
@use "../mixin";

@mixin apply-theme($theme) {
  app-timeline {
    max-width: 55em;
    @media screen and (max-width: 960px) {
      max-width: unset;
    }
    button[copy-content] {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    padding: 0 1rem;
    margin: 50px auto;
    @media screen and (max-width: 960px) {
      padding: 0 0.3rem;
    }
    .timeline {
      position: relative;
      padding-left: 4rem;
      margin: 0 0 0 30px;
      @media screen and (max-width: 960px) {
        padding-left: unset;
        margin: unset;
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: mat.get-theme-color($theme, tertiary, 80);
        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;

        .timeline-icon {
          position: absolute;
          left: calc(-5.5rem + 2px);
          top: 0;
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          text-align: center;
          font-size: 2rem;

          mat-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
          @media screen and (max-width: 960px) {
            display: none;
          }
        }

        .timeline-body {
          background: mat.get-theme-color($theme, secondary, 20);
          border-radius: 1rem;
          padding: 20px 20px 15px;

          code[description] {
            white-space: pre-wrap;
            display: flex;
            font-family: "Share Tech Mono";
          }

          &:before {
            content: "";
            background: inherit;
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: -10px;
            transform: rotate(45deg);
            border-radius: 0 0 0 2px;
            @media screen and (max-width: 960px) {
              display: none;
            }
          }

          .timeline-title {
            margin-bottom: 1.4rem;
            text-align: right;

            .badge {
              padding: 0.5rem 2rem;
              border-radius: 1rem;
              font-size: 80%;
              // font-weight: bold;
              text-transform: uppercase;
            }
          }

          .timeline-subtitle {
            font-style: italic;
            opacity: 0.4;
            margin-top: 16px;
          }
        }

        @each $event, $color in mixin.event-colors($theme) {
          &.#{$event} {
            .badge,
            .timeline-icon {
              background: $color;
            }
            .timeline-body {
              border: 2px solid $color;
            }
            .timeline-body:before {
              border-left: 2px solid $color;
              border-bottom: 2px solid $color;
            }
          }
        }
      }
    }
  }
}
