<div label>
  <mat-icon fontSet="ms">payments</mat-icon>
  <span>Company</span>
</div>
<div content>
  <app-jobcompany [company]="job.company" [mode]="companyModes.FULL"></app-jobcompany>
</div>
<div label>
  <mat-icon fontSet="ms">map</mat-icon>
  <span>Location</span>
</div>
<div content>
  <app-joblocation [location]="job.location" mode="full"></app-joblocation>
</div>
<div label>
  <mat-icon fontSet="ms">assignment_ind</mat-icon>
  <span>Applied CV</span>
</div>
<div content>
  <app-jobcv [cv]="job.cv"></app-jobcv>
</div>
<div label>
  <mat-icon fontSet="ms">description</mat-icon>
  <span>Job Url</span>
</div>
<div content>
  <app-joburl [url]="job.url"></app-joburl>
</div>
<div label>
  <mat-icon fontSet="ms">home_work</mat-icon>
  <span>Workplace</span>
</div>
<div content>
  <app-jobsite [onsite]="job.onsite"></app-jobsite>
</div>
<div label>
  <mat-icon fontSet="ms">crowdsource</mat-icon>
  <span>Source</span>
</div>
<div content>
  <app-jobsource [source]="job.source"></app-jobsource>
</div>
<div label>
  <mat-icon fontSet="ms">build</mat-icon>
  <span>Skills</span>
</div>
<div content>
  <app-jobskills [skills]="job.skills"></app-jobskills>
</div>
