<div label>
  <ng-icon name="remixMoneyPoundCircleFill"></ng-icon>
  <span>Company</span>
</div>
<div content>
  <app-jobcompany [company]="job.company" [mode]="companyModes.FULL"></app-jobcompany>
</div>
<div label>
  <ng-icon name="typLocation"></ng-icon>
  <span>Location</span>
</div>
<div content>
  <app-joblocation [location]="job.location" mode="full"></app-joblocation>
</div>
<div label>
  <ng-icon name="typDocumentText"></ng-icon>
  <span>Applied CV</span>
</div>
<div content>
  <app-jobcv [cv]="job.cv"></app-jobcv>
</div>
<div label>
  <ng-icon name="typLink">link</ng-icon>
  <span>Job Url</span>
</div>
<div content>
  <app-joburl [url]="job.url"></app-joburl>
</div>
<div label>
  <ng-icon name="lucideBuilding">room_preferences</ng-icon>
  <span>Workplace</span>
</div>
<div content>
  <app-jobsite [onsite]="job.onsite"></app-jobsite>
</div>
<div label>
  <ng-icon name="remixLinkedinBoxFill"></ng-icon>
  <span>Source</span>
</div>
<div content>
  <app-jobsource [source]="job.source"></app-jobsource>
</div>
<div label>
  <ng-icon name="lucideWrench"></ng-icon>
  <span>Skills</span>
</div>
<div content>
  <app-jobskills [skills]="job.skills"></app-jobskills>
</div>
