:host {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  mat-toolbar {
    [head] {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 0.3rem;
      app-logo {
        height: 48px;
      }

      &:hover {
        cursor: pointer;
      }
    }
    [username] {
      &:hover {
        cursor: pointer;
      }
    }

  }

}
