:host {
  .spacer {
    flex: 1 1 auto;
  }
  display: flex;
  flex-direction: column;
  mat-toolbar {
    [head] {
      display: flex;
      flex-direction: row;
      column-gap: 0.3rem;
      [name] {
        font-variant: small-caps;
        text-transform: lowercase;
      }
      app-logo {
        height: 1.5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
    [username] {
      &:hover {
        cursor: pointer;
      }
    }

  }

}
