<div *ngIf="user.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <div>
    <button mat-flat-button color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>
<ng-template #showLogin>
  <mat-card appearance="raised">
    <mat-card-content>
      <app-logo></app-logo>
      <form #triggerForm [formGroup]="form" (keydown.enter)="triggerSubmit($event)" (ngSubmit)="submitForm()">
        <mat-form-field appearance="fill" *ngIf="loginMode">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="emailInput">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="loginMode == modeName.PASSWORD">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordInput">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <div buttons>
          <div *ngIf="errorMessage">
            <p color="error">{{errorMessage}}</p>
          </div>
          <div>
            <button mat-raised-button button-with-icon color="primary" (click)="onClick($event, modeName.PASSWORD)">
              <ng-icon name="lucideKeyboard"></ng-icon>
              <div>With Password</div>
            </button>
          </div>
          <div>
            <button mat-raised-button button-with-icon color="accent" (click)="onClick($event, modeName.MAGIC)">
              <ng-icon name="lucideMailWarning"></ng-icon>
              <div>With MagicLink</div>
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
