<div *ngIf="user.user | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <div>
    <button mat-flat-button color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </div>
</div>
<ng-template #showLogin>
  <mat-card appearance="raised">
    <mat-card-content>
      <app-logo></app-logo>
      <p *ngIf="loginMode == modeName.MAGIC">
        Type your email and you will receive and login link
      </p>
      <form
        #triggerForm
        [formGroup]="form"
        (keydown.enter)="triggerSubmit($event)"
        (ngSubmit)="submitForm()"
        *ngIf="!waitForLink"
      >
        <mat-form-field appearance="fill" *ngIf="loginMode">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="emailInput"
            [required]="true"
          />
        </mat-form-field>
        <mat-form-field
          appearance="fill"
          *ngIf="loginMode == modeName.PASSWORD"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="passwordInput"
            [required]="loginMode == modeName.PASSWORD"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-button-toggle-group (change)="onLoginMode($event)" *ngIf="!magicDisabled">
          <mat-button-toggle
            [checked]="loginMode == modeName.PASSWORD"
            value="{{ modeName.PASSWORD }}"
            aria-label="Text align left"
          >
            <span>Password</span>
          </mat-button-toggle>
          <mat-button-toggle
            [checked]="loginMode == modeName.MAGIC"
            value="{{ modeName.MAGIC }}"
            aria-label="Text align center"
          >
            <span>MagicLink</span>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <div buttons>
          <div *ngIf="errorMessage">
            <p errors>{{ errorMessage }}</p>
          </div>
          <div>
            <button
              mat-raised-button
              button-with-icon
              type="submit"
              color="primary"
            >
              <mat-icon>login</mat-icon>
              <div *ngIf="loginMode == modeName.MAGIC">Continue</div>
              <div *ngIf="loginMode == modeName.PASSWORD">Login</div>
            </button>
          </div>
        </div>
      </form>
      <p *ngIf="waitForLink">
        Check your email at {{ waitForLink }} for login link
      </p>
    </mat-card-content>
  </mat-card>
</ng-template>
