<mat-card class="job-card" *ngIf="job">
  <mat-card-header>
    <mat-card-title>
      <app-jobposition [position]="job.position"></app-jobposition>
    </mat-card-title>
    <mat-card-subtitle>
      <app-jobcompany [company]="job.company"></app-jobcompany>
      <app-joblocation [location]="job.location"></app-joblocation>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>

    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button><mat-icon>favorite</mat-icon>LIKE</button>
    <button mat-button><mat-icon>favorite</mat-icon>SHARE</button>
  </mat-card-actions>
</mat-card>
