<h1>
  <app-jobposition [position]="job.position"></app-jobposition>
</h1>
<h2>
  <app-jobcompany [company]="job.company"></app-jobcompany>
</h2>
<h3>
  <app-joblocation [location]="job.location"></app-joblocation>
</h3>
<app-jobdetails [job]="job"></app-jobdetails>
<div class="timeline">
  <ul>
    <li *ngFor="let ev of job.events">
      <div class="content">
        <h3 event-name>{{ev.event}}</h3>
        <p>{{ev.description}}</p>
      </div>
      <div class="time">
        <h4>{{ev.timestamp|amDateFormat:'D MMMM'}}</h4>
      </div>
    </li>
  </ul>
</div>
