<div class="timeline">
  <div *ngFor="let ev of job.events" class="timeline-container {{ ev.event }}">
    <div class="timeline-icon">
      <mat-icon>{{ getIcon(ev) }}</mat-icon>
    </div>
    <div class="timeline-body">
      <button
        copy-content
        mat-icon-button
        [cdkCopyToClipboard]="ev.description"
        (cdkCopyToClipboardCopied)="onCopied($event)"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
      <code description>{{ ev.description }}</code>
      <p class="timeline-subtitle">
        <span>
          {{ ev.timestamp | amTimeAgo }}
        </span>
      </p>
    </div>
  </div>
</div>
