@use "@angular/material" as mat;
@use "./scss/components/table" as mytable;
@use "./scss/components/details" as mydetails;
@use "./scss/components/timeline" as mytimeline;
@use "./scss/components/errors" as myerrors;
@use "sass:map";
@include mat.core();

// $styles: set-styles_(
//   $base,
//   (
//     headline1: (
//       font-size: px-to-rem(96px),
//       line-height: px-to-rem(96px),
//       font-weight: map.get($font-weight-values, light),
//       letter-spacing: get-letter-spacing_(-1.5, 6),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     headline2: (
//       font-size: px-to-rem(60px),
//       line-height: px-to-rem(60px),
//       font-weight: map.get($font-weight-values, light),
//       letter-spacing: get-letter-spacing_(-0.5, 3.75),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     headline3: (
//       font-size: px-to-rem(48px),
//       line-height: px-to-rem(50px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: normal,
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     headline4: (
//       font-size: px-to-rem(34px),
//       line-height: px-to-rem(40px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: get-letter-spacing_(0.25, 2.125),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     headline5: (
//       font-size: px-to-rem(24px),
//       line-height: px-to-rem(32px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: normal,
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     headline6: (
//       font-size: px-to-rem(20px),
//       line-height: px-to-rem(32px),
//       font-weight: map.get($font-weight-values, medium),
//       letter-spacing: get-letter-spacing_(0.25, 1.25),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     subtitle1: (
//       font-size: px-to-rem(16px),
//       line-height: px-to-rem(28px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: get-letter-spacing_(0.15, 1),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     subtitle2: (
//       font-size: px-to-rem(14px),
//       line-height: px-to-rem(22px),
//       font-weight: map.get($font-weight-values, medium),
//       letter-spacing: get-letter-spacing_(0.1, 0.875),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     body1: (
//       font-size: px-to-rem(16px),
//       line-height: px-to-rem(24px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: get-letter-spacing_(0.5, 1),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     body2: (
//       font-size: px-to-rem(14px),
//       line-height: px-to-rem(20px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: get-letter-spacing_(0.25, 0.875),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     caption: (
//       font-size: px-to-rem(12px),
//       line-height: px-to-rem(20px),
//       font-weight: map.get($font-weight-values, regular),
//       letter-spacing: get-letter-spacing_(0.4, 0.75),
//       text-decoration: inherit,
//       text-transform: inherit,
//     ),
//     button: (
//       font-size: px-to-rem(14px),
//       line-height: px-to-rem(36px),
//       font-weight: map.get($font-weight-values, medium),
//       letter-spacing: get-letter-spacing_(1.25, 0.875),
//       text-decoration: none,
//       text-transform: uppercase,
//     ),
//     overline: (
//       font-size: px-to-rem(12px),
//       line-height: px-to-rem(32px),
//       font-weight: map.get($font-weight-values, medium),
//       letter-spacing: get-letter-spacing_(2, 0.75),
//       text-decoration: none,
//       text-transform: uppercase,
//     ),

$theme-primary: mat.define-palette(mat.$blue-grey-palette, 700);
$theme-accent: mat.define-palette(mat.$teal-palette, 500);
$theme-warn: mat.define-palette(mat.$red-palette, 500);
$custom-typography: mat.define-typography-config(
  $font-family:"Sono",
  $subtitle-1: mat.define-typography-level(18px, 30px, 600),
  $subtitle-2: mat.define-typography-level(17px, 24px, 400),
  $body-1: mat.define-typography-level(18px, 28px, 600),
  $body-2: mat.define-typography-level(17px, 24px, 400),
  $button: mat.define-typography-level(18px, 36px, 400),

);
$background-palette: (
  status-bar: black,
  app-bar: darken(map.get($theme-primary, 900), 10%),
  background: darken(map.get($theme-primary, 700), 20%),
  hover: rgba(white, 0.04),
  card: darken(map.get($theme-primary, 800), 5%),
  dialog: map.get($theme-primary, 800),
  disabled-button: rgba(white, 0.12),
  raised-button: map.get($theme-primary, 800),
  selected-button: map.get($theme-primary, 900),
  selected-disabled-button: map.get($theme-primary, 800),
  disabled-button-toggle: black,
  unselected-chip: map.get($theme-primary, 700),
  disabled-list-option: rgba(white, 0.12),
  tooltip: map.get($theme-primary, 700)
);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn
    ),
    typography: $custom-typography,
    density: 0
  )
);

@include mat.core-theme($my-theme);
@include mat.all-component-bases($my-theme);
@include mat.all-component-themes($my-theme);
@include mat.all-component-colors(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
      foreground: mat.$dark-theme-foreground-palette,
      background: $background-palette,
      is-dark: true
    )
  )
);
@include mat.all-component-typographies($my-theme);

@include mytable.apply-table-theme($my-theme, $background-palette);
@include mydetails.apply-details-theme($my-theme, $background-palette);
@include mytimeline.apply-timeline-theme($my-theme, $background-palette);
@include myerrors.apply-errors-theme($my-theme, $background-palette);
@import "./scss/components/toolbar";
@import "./scss/components/logo";
@import "./scss/components/button";
@import "./scss/components/spacer";
@import "./scss/components/cvview";
@import "./scss/components/fly-icon";
@import "./scss/components/simple-icon";
@import "./scss/components/mat-icon";
@import "./scss/components/truncate";
@import "animate.css/animate";

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media screen and (min-width: 450px) {
      flex-direction: row;
    }

    @media screen and (max-width: 960px) {
      .no-mobile {
        display: none;
      }
      .on-mobile {
        display: unset;
      }
    }

    @media screen and (min-width: 960px) {
      .no-desktop {
        display: none;
      }
      .on-desktop {
        display: unset;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.subtitle {
  font-family: Zeyada;
}

a {
  color: inherit;
  text-transform: none;
}
