@use "@angular/material" as mat;
@use "./scss/components/table" as Table;
@use "./scss/components/details" as Details;
@use "./scss/components/timeline" as Timeline;
@use "./scss/components/errors" as Errors;
@use "./scss/components/logo" as Logo;
@use "./scss/components/loader" as Loader;
@use "./scss/components/search" as Search;
@use "./scss/theme" as Theme;
@use "sass:map";
@include mat.core();

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  @include mat.core-theme(Theme.$theme);
  @include mat.all-component-themes(Theme.$theme);
  @include mat.typography-hierarchy(Theme.$typography);
  @include Table.apply-theme(Theme.$theme);
  @include Details.apply-theme(Theme.$theme);
  @include Timeline.apply-theme(Theme.$theme);
  @include Errors.apply-theme(Theme.$theme);
  @include Logo.apply-theme(Theme.$theme);
  @include Loader.apply-theme(Theme.$theme);
  @include Search.apply-theme(Theme.$theme);
  @import "./scss/components/toolbar";
  @import "./scss/components/button";
  @import "./scss/components/spacer";
  @import "./scss/components/cvview";
  @import "./scss/components/fly-icon";
  @import "./scss/components/simple-icon";
  @import "./scss/components/mat-icon";
  @import "./scss/components/truncate";
  @import "./scss/components/spin";
  @import "./scss/components/paginator";
  @import "./scss/components/job_status";
  @import "./scss/components/job";
  @import "animate.css/animate";
  @import "./scss/components/login";
}

*,
*:before,
*:after {
  box-sizing: inherit;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0;
  margin: 0;

  app-root {
    display: flex;
    flex-direction: column;
    height: 100%;

    @media screen and (min-width: 450px) {
      flex-direction: row;
    }

    @media screen and (max-width: 960px) {
      .no-mobile {
        display: none;
      }
      .on-mobile {
        display: unset;
      }
    }

    @media screen and (min-width: 960px) {
      .no-desktop {
        display: none;
      }
      .on-desktop {
        display: unset;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: inherit;
  text-transform: none;
}
