@use "sass:map";
@use "@angular/material" as mat;

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);

  mat-table {
    font-size: 120%;

    mat-header-row {
      flex-wrap: wrap;
      mat-header-cell {
        font-variant: small-caps;
        text-transform: uppercase;
        font-weight: bold !important;
      }
    }

    mat-row {
      flex-wrap: wrap;
    }

    mat-row:hover mat-cell {
      background-color: mat.get-color-from-palette($palette);
      cursor: pointer;
    }
  }
}
