@use "sass:map";
@use "sass:math";
@use "@angular/material" as mat;

@mixin gradient($direction, $color, $base: 1) {
  $list:
    adjust-color($color, $alpha: -1) 0%,
    adjust-color($color, $alpha: -0.2 * $base) 25%,
    adjust-color($color, $alpha: -0.1 * $base) 50%,
    adjust-color($color, $alpha: -0.1 * $base) 66%,
    adjust-color($color, $alpha: -0.2 * $base) 75%,
    adjust-color($color, $alpha: -1) 100%;
  background: linear-gradient(to $direction, $list);
}

@mixin lightbox {
  box-shadow:
    rgba(172, 160, 160, 0.534) 0px 5px 15px,
    rgba(183, 170, 170, 0.669) 0px -15px 15px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 2px 3px,
    rgba(0, 0, 0, 0.09) 0px -1px 5px;
  overflow: hidden;
}

$blue: mat.define-palette(mat.$green-palette);

@mixin color-modifiers($prefix, $attribute: "background-color") {
  @for $i from 1 through 70 {
    [#{$prefix}="#{$i}"] {
      #{$attribute}: change-color(mat.get-color-from-palette($blue, 500), $alpha: $i * 0.01);
    }
  }
}

@function event-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $theme-orange: mat.define-palette(mat.$orange-palette, 800);

  $reject: mat.get-color-from-palette($warn);
  $interview: mat.get-color-from-palette($theme-orange);
  $applied: mat.get-color-from-palette($palette);
  $response: darken(mat.get-color-from-palette($accent), 10%);

  $events: (
    applied: $applied,
    interview: $interview,
    reject: $reject,
    response: $response
  );

  @return $events;

}

@function status-colors($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  $warn: map.get($color-config, warn);
  $theme-orange: mat.define-palette(mat.$orange-palette, 800);

  $events: (
    in_progress: fade-out(mat.get-color-from-palette($accent), 0.9),
    rejected: fade-out(mat.get-color-from-palette($warn), 0.9),
  );

  @return $events;

}

